@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    max-width: 750px;
    
}

.container {
    max-width: 1700px;
    padding: 0 200px;
    
    
}



.navbar {
    background-color: #1F2937 ;
    font-size: 18px;
    color: #e5e7eb;
    font-style: none;
    height: 60px;
    
    

}

ul {
    list-style: none;
}

.right-menu a {
    text-decoration: none;
    color: #e5e7eb;
    
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
    margin-right: 25px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    
    
}


.navbar ul {
    display: flex;
    gap: 25px;
    
}



.header {
    background-color: #1F2937;
    color: #e5e5e5;
    font-size: 18px;
    min-height: 400px;
    
    
    
    
}

.header img {
    max-width: 400px;
    
    
    
   
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9faf8;
    max-width: 330px;
   
}
.header p {
max-width: 400px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #F9faf8;
    text-align: center;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: none;
}

.header .button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.boxes h2 {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    
}
.box img {
    max-width: 200px;
    
    
    
}


.boxes .conti {
display: flex;
justify-content: space-between;
align-items: center;
gap: 50px;

    
    
}

.boxes {  
 margin-left: 200px;
 margin-right: 200px;
 text-align: center;  
 margin-bottom: 125px;
}

.quote {
    background-color: #E5E7EB;
    margin-bottom: 125px;
  
}
.quote h3 {
    font-style: italic;
    font-weight: lighter;
    font size: 36px;
    margin-left: 200px;
    margin-right: 200px;
}
.footer {
    text-align: center;
}